---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: staging-redis
  namespace: database
spec:
  interval: 15m
  chart:
    spec:
      chart: redis
      version: 20.13.4
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 15m
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    architecture: standalone
    auth:
      enabled: false
    master:
      serviceAccount:
        create: true
        name: staging-redis-master
      persistence:
        enabled: false
