---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-business-comabase-redis
  namespace: flux-system
spec:
  path: ./kubernetes/apps/business/comabase/redis
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-business-comabase-backend
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-business-comabase-redis
  path: ./kubernetes/apps/business/comabase/backend
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-business-comabase-frontend
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-business-comabase-redis
    - name: cluster-apps-business-comabase-backend
  path: ./kubernetes/apps/business/comabase/frontend
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
