---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ./helmrelease.yaml
  - ./mcluster-storageclass.yaml
  - ./storageclass.yaml
  - ./zfs1-storageclass.yaml
  - ./camera-storageclass.yaml
