---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: zigbee2mqtt
  namespace: zigbee2mqtt
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: mosquitto
      namespace: broker
  values:
    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/koenkk/zigbee2mqtt
              tag: 1.33.2
            env:
              TZ: Asia/Ho_Chi_Minh
              ZIGBEE2MQTT_DATA: /config
              # ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_DISCOVERY_TOPIC: homeassistant
              # ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_ENTITY_ATTRIBUTES: "false"
              # ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_TRIGGERS: "false"
              # ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_STATUS_TOPIC: homeassistant/status
              # ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: ISO_8601
              # ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_API: "false"
              # ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_AVAILABILITY_PAYLOAD: "false"
              # ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: info # debug
              # ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: '["console"]'
              # ZIGBEE2MQTT_CONFIG_AVAILABILITY_ACTIVE_TIMEOUT: 60
              # ZIGBEE2MQTT_CONFIG_AVAILABILITY_PASSIVE_TIMEOUT: 2000
              # ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_LEGACY: "false"
              # ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_RETAIN: "true"
              # ZIGBEE2MQTT_CONFIG_EXPERIMENTAL_NEW_API: "true"
              # ZIGBEE2MQTT_CONFIG_FRONTEND: "false"
              # ZIGBEE2MQTT_CONFIG_FRONTEND_PORT: "80"
              # ZIGBEE2MQTT_CONFIG_FRONTEND_URL: https://zigbee.${SECRET_DOMAIN}
              # ZIGBEE2MQTT_CONFIG_HOMEASSISTANT: "true"
              # ZIGBEE2MQTT_CONFIG_MQTT_INCLUDE_DEVICE_INFORMATION: "true"
              # ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE: 60
              # ZIGBEE2MQTT_CONFIG_MQTT_REJECT_UNAUTHORIZED: "true"
              # ZIGBEE2MQTT_CONFIG_MQTT_SERVER: mqtt://mosquitto.broker.svc.cluster.local
              # ZIGBEE2MQTT_CONFIG_MQTT_VERSION: 5
              # ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: "false"
              # ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE: 115200
              # ZIGBEE2MQTT_CONFIG_SERIAL_DISABLE_LED: "false"
              # ZIGBEE2MQTT_CONFIG_SERIAL_PORT: tcp://192.168.1.81:6638
              # ZIGBEE2MQTT_CONFIG_ADVANCED_TRANSMIT_POWER: 20
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
        pod:
          securityContext:
            runAsUser: 0
            runAsGroup: 568
            fsGroup: 65536
            fsGroupChangePolicy: OnRootMismatch
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: 1Gi
              storageClass: home-cluster-nfs-1
              globalMounts:
                - path: /config
    service:
      main:
        ports:
          http:
            port: 80
    ingress:
      main:
        enabled: true
        className: internal
        hosts:
          - host: &host "zigbee.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      configuration:
        enabled: true
        type: secret
        name: zigbee2mqtt-secret
        advancedMounts:
          main:
            main:
              - path: /config/configuration.yaml
                readOnly: true
                subPath: configuration.yaml
