---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: personal-assistant-app
  namespace: directus
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: RollingUpdate
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 14.9
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: personal-assistant-secrets
        containers:
          main:
            image:
              repository: directus/directus
              tag: 10.8.2

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /server/health
                    port: &port 8055
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false

            env:
              DB_CLIENT: postgres
              DB_PORT: "5432"
              DB_HOST:
                valueFrom:
                  secretKeyRef:
                    name: personal-assistant-secrets
                    key: INIT_POSTGRES_HOST
              DB_DATABASE:
                valueFrom:
                  secretKeyRef:
                    name: personal-assistant-secrets
                    key: INIT_POSTGRES_DBNAME
              DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: personal-assistant-secrets
                    key: INIT_POSTGRES_USER
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: personal-assistant-secrets
                    key: INIT_POSTGRES_PASS
            envFrom:
              - secretRef:
                  name: personal-assistant-secrets
    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "myassistant.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
        tls:
          - secretName: "directus-personal-assistant-app-tls"
            hosts:
              - *host
    persistence:
      uploads:
        enabled: true
        globalMounts:
          - path: /directus/uploads
            readOnly: false
        storageClass: home-cluster-nfs-1
        accessMode: ReadWriteOnce
        size: 5Gi
