---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: langflow-frontend
  namespace: langflow
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 65534

    controllers:
      main:
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ogabrielluiz/langflow_frontend
              tag: latest

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            env:
              VITE_PROXY_TARGET: http://langflow-app.langflow.svc.cluster.local:7860
              LANGFLOW_DATABASE_URL: "sqlite:////langflow_data/langflow.db"
              LANGFLOW_LANGCHAIN_CACHE: SQLiteCache
              LANGFLOW_HOST: "127.0.0.1"
              LANGFLOW_WORKERS: 1
              LANGFLOW_PORT: 7860
              LANGFLOW_OPEN_BROWSER: false
              LANGFLOW_REMOVE_API_KEYS: false
              LANGFLOW_CACHE_TYPE: memory
              LANGFLOW_AUTO_LOGIN: false
              LANGFLOW_SUPERUSER:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: app.username
              LANGFLOW_SUPERUSER_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: app.password
    service:
      main:
        ports:
          http:
            port: 80

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "langflow.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main

    persistence:
      config:
        enabled: true
        type: configMap
        name: app-config
        globalMounts:
          - path: /etc/nginx/conf.d/default.conf
            subPath: nginx-default.conf
