---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: wireguard-server
  namespace: wireguard
spec:
  interval: 30m
  chart:
    spec:
      chart: wireguard
      version: 0.16.1
      sourceRef:
        kind: HelmRepository
        name: bryopsida
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    wireguard:
      # -- Address of the VPN server
      serverAddress: 10.34.0.1/24
      # -- Subnet for your VPN, take care not to clash with cluster POD cidr
      serverCidr: 10.34.0.0/24
      clients:
        - FriendlyName: macbook
          AllowedIPs: 10.34.0.101/32
          PublicKey: /BDcs4+QaEmfY8j0VABdS+RlSttoiY6/GlEIswpJvTc=
    secretName: server-secrets