---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: seafile-app
  namespace: seafile
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        pod:
          securityContext:
            fsGroup: 65534
        strategy: RollingUpdate

        # initContainers:
        #   init-permissions:
        #     image:
        #       repository: busybox
        #       tag: 1.36
        #       imagePullPolicy: IfNotPresent
        #     command: ["sh", "-c", "chown -Rv root:root /shared/seafile/seafile-data"]

        containers:
          main:
            image:
              repository: aitbase/seafile
              tag: 11.0.1-build-2
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            env:
              USE_EXISTING_DB: "1"
              DEBUG: "True"
              TIME_ZONE: Asia/Ho_Chi_Minh
              SEAFILE_SERVER_HOSTNAME: "files.${SECRET_DOMAIN_2}"
              DB_HOST: seafile-mariadb.database.svc.cluster.local
              MYSQL_HOST: seafile-mariadb.database.svc.cluster.local
              MYSQL_USER: seafile
              MYSQL_USER_PASSWD:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: seafile-mariadb-password
              DB_ROOT_PASSWD:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: seafile-mariadb-root-password
              SEAFILE_ADMIN_EMAIL:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: app-admin-email
              SEAFILE_ADMIN_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: app-admin-password

    service:
      main:
        controller: main
        ports:
          http:
            port: 80

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN_2}"
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
          # nginx.ingress.kubernetes.io/configuration-snippet: |
          #   proxy_set_header Host $host;
          #   proxy_set_header X-Real-IP $remote_addr;
          #   proxy_set_header X-Forwarded-For $remote_addr;
          #   proxy_set_header X-Forwarded-Host $server_name;
        hosts:
          - host: &host "files.${SECRET_DOMAIN_2}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - secretName: "${SECRET_DOMAIN_2/./-}-production-tls"
            hosts:
              - *host

    persistence:
      shared:
        enabled: true
        existingClaim: seafile-data
