---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: frigate
  namespace: frigate
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: intel-device-plugin-gpu
      namespace: kube-system
    - name: mosquitto
      namespace: broker
  values:
    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: stable
            env:
              TZ: Asia/Ho_Chi_Minh
              LIBVA_DRIVER_NAME: i965
            envFrom:
              - secretRef:
                  name: frigate-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/version
                    port: &port 5000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 1000m
                memory: 2Gi
                gpu.intel.com/i915: "1"
              limits:
                memory: 8Gi
                gpu.intel.com/i915: "1"
        pod:
          securityContext:
            # runAsUser: 568
            # runAsGroup: 568
            fsGroup: 65534
          nodeSelector:
            google.feature.node.kubernetes.io/coral: "true"
            intel.feature.node.kubernetes.io/gpu: "true"
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: 5Gi
              storageClass: home-cluster-nfs-1
              globalMounts:
                - path: /data
    service:
      main:
        ports:
          http:
            port: 5000
          rtsp:
            port: 8554
    ingress:
      main:
        enabled: true
        className: internal
        # annotations:
        #   nginx.ingress.kubernetes.io/auth-url: |-
        #     http://authelia.default.svc.cluster.local/api/authz/auth-request
        #   nginx.ingress.kubernetes.io/auth-response-headers: |-
        #     Remote-User,Remote-Name,Remote-Groups,Remote-Email
        #   nginx.ingress.kubernetes.io/auth-snippet: |-
        #     auth_request_set $redirection_url $upstream_http_location;
        #     error_page 401 =302 $redirection_url;
        hosts:
          - host: &host "frigate.${SECRET_DOMAIN_2}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config-file:
        type: configMap
        name: frigate-configmap
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 4Gi
        globalMounts:
          - path: /dev/shm
      pci:
        enabled: true
        type: hostPath
        hostPath: /dev/apex_0
        # hostPathType: Directory
        globalMounts:
          - path: /dev/apex_0
      media:
        existingClaim: frigate
