---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: plane-redis
  namespace: plane
spec:
  interval: 15m
  chart:
    spec:
      chart: redis
      version: 18.2.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 15m
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    architecture: standalone
    auth:
      existingSecret: db-secrets
      existingSecretPasswordKey: redis-password
    master:
      persistence:
        enabled: true
        storageClass: local-path
        size: 10Gi
