---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: langflow
data:
  nginx-default.conf: |
    server {
        gzip on;
        gzip_comp_level  2;
        gzip_min_length  1000;
        gzip_types  text/xml text/css;
        gzip_http_version 1.1;
        gzip_vary  on;
        gzip_disable "MSIE [4-6] \.";

        listen 80;

        location / {
            root /usr/share/nginx/html;
            index index.html index.htm;
            try_files $uri $uri/ /index.html =404;
        }

        location /api {
            # Proxying to the internal URL
            proxy_pass http://langflow-app.langflow.svc.cluster.local:7860;
            
            # Additional proxy settings, optional but recommended
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }


        include /etc/nginx/extra-conf.d/*.conf;
    }
