---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: home-assistant-app
  namespace: home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: Recreate
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 14.9
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: app-secrets

        containers:
          main:
            image:
              repository: homeassistant/home-assistant
              tag: 2023.12.4
              pullPolicy: IfNotPresent
            env:
              TZ: "Asia/Ho_Chi_Minh"
              HASS_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: app.token
              HASS_POSTGRES_URL:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: app.postgres-url
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: true
            resources:
              limits:
                memory: 3000Mi
              requests:
                cpu: 100m
                memory: 1000Mi
          codeserver:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.18.0
              pullPolicy: IfNotPresent
            securityContext:
              runAsUser: 0
              runAsGroup: 0
            env:
              TZ: "Asia/Ho_Chi_Minh"
              HASS_SERVER: http://localhost:8123
              HASS_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: app.token
              PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: app-secrets
                    key: app.password
            args:
              - --user-data-dir
              - "/config/.vscode"
              - --auth
              - "password"
              - --port
              - "12321"
              - "/config"
            volumeMounts:
              - name: config
                mountPath: /config
    service:
      main:
        ports:
          http:
            port: 8123
      codeserver:
        type: ClusterIP
        controller: main
        ports:
          http:
            enabled: true
            port: 12321
            protocol: TCP
            targetPort: 12321
    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "hass.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
      codeserver:
        enabled: true
        className: internal
        annotations:
          # nginx.ingress.kubernetes.io/auth-signin: "https://auth.${SECRET_DOMAIN}"
          # nginx.ingress.kubernetes.io/auth-url: "https://auth.${SECRET_DOMAIN}/api/verify"
        hosts:
          - host: &codeserverhost "hass-vscode.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: codeserver
                  port: http
        tls:
          - hosts:
              - *codeserverhost
    serviceMonitor:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        existingClaim: home-assistant
        globalMounts:
          - path: /config
      tmp:
        type: emptyDir
