---
# yaml-language-server: $schema=https://frigate.devbu.io/api/config/schema.json
logger:
  default: info
  # logs:
  #   frigate.record: debug

mqtt:
  host: mosquitto.broker.svc.cluster.local
  topic_prefix: frigate
  user: "{FRIGATE_MQTT_USERNAME}"
  password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

record:
  enabled: true
  retain:
    days: 7
  events:
    retain:
      default: 14
snapshots:
  enabled: True
  timestamp: False
  bounding_box: True
  crop: False

ffmpeg:
  global_args: ["-hide_banner", "-loglevel", "warning"]
  hwaccel_args:
    [
      "-hwaccel",
      "vaapi",
      "-hwaccel_device",
      "/dev/dri/renderD128",
      "-hwaccel_output_format",
      "yuv420p",
    ]
  output_args:
    detect: -threads 2 -f rawvideo -pix_fmt yuv420p
    record: preset-record-generic-audio-copy
    # record: -f segment -segment_time 10 -segment_format mp4 -reset_timestamps 1 -strftime 1 -c:v copy -c:a aac

objects:
  track:
    - person
  filters:
    person:
      min_area: 2500
      max_area: 100000
      threshold: 0.75

go2rtc:
  streams:
    frigate_door_hq:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.79:554/cam/realmonitor?channel=1&subtype=0
      - "ffmpeg:frigate_door_hq#audio=pcmu"
    frigate_door_lq:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.79:554/cam/realmonitor?channel=1&subtype=1
      - "ffmpeg:frigate_door_lq#audio=pcmu"
    frigate_kitchen_hq:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.78:554/cam/realmonitor?channel=1&subtype=0
      - "ffmpeg:frigate_kitchen_hq#audio=pcmu"
    frigate_kitchen_lq:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.78:554/cam/realmonitor?channel=1&subtype=1
      - "ffmpeg:frigate_kitchen_lq#audio=pcmu"
  webrtc:
    candidates:
      - 10.0.99.210:8555
      - stun:8555

cameras:
  # Define at least one camera
  frigate_door:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_door_lq
          roles:
            - detect
        - path: rtsp://localhost:8554/frigate_door_hq
          roles:
            - record
    live:
      stream_name: frigate_door_lq
    detect:
      height: 480
      width: 704
      fps: 5
    objects:
      track:
        - person
      filters:
        person:
          min_area: 1500
          max_area: 100000
          threshold: 0.75
          min_score: 0.50
    motion:
      mask:
        - 513,36,680,39,683,21,518,21
    # zones:
    #   front_door:
    #     coordinates: 0,184,275,0,427,128,153,398
  frigate_kitchen:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_kitchen_lq
          roles:
            - detect
        - path: rtsp://localhost:8554/frigate_kitchen_hq
          roles:
            - record
    live:
      stream_name: frigate_kitchen_lq
    # detect:
    #   height: 480
    #   width: 704
    #   fps: 5
    # motion:
    #   mask:
    #     - 513,36,680,39,683,21,518,21
detectors:
  coral:
    type: edgetpu
    device: pci
