---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: mattermost-db
  namespace: mattermost
spec:
  interval: 15m
  chart:
    spec:
      chart: postgresql
      version: 12.12.10
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 15m
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      storageClass: home-cluster-nfs-1
      postgresql:
        auth:
          username: mattermost-team-edition
          database: mattermost-team-edition
          existingSecret: mattermost-secrets
    primary:
      podSecurityContext:
        fsGroup: 65534
      containerSecurityContext:
        runAsUser: 65534
        runAsGroup: 0

      persistence:
        enabled: true
        storageClass: home-cluster-nfs-1
        size: 5Gi
