---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app plane-app
  namespace: plane
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        replicas: 2
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: makeplane/plane-frontend
              tag: latest
              pullPolicy: Always
            command:
              - /usr/local/bin/start.sh
            args:
              - web/server.js
              - web
            envFrom: &envFrom
              - configMapRef:
                  name: plane-config-envs
              - secretRef:
                  name: plane-secret-envs
            resources:
              requests:
                cpu: 200m
                memory: 300Mi
              limits:
                cpu: 2000m
                memory: 3000Mi
      space:
        replicas: 2
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: makeplane/plane-space
              tag: latest
              pullPolicy: Always
            command:
              - /usr/local/bin/start.sh
            args:
              - space/server.js
              - space
            envFrom: *envFrom
            resources:
              requests:
                cpu: 200m
                memory: 300Mi
              limits:
                cpu: 2000m
                memory: 3000Mi
      api:
        replicas: 2
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: makeplane/plane-backend
              tag: latest
              pullPolicy: Always
            command:
              - ./bin/takeoff
            envFrom: *envFrom
            resources:
              requests:
                cpu: 200m
                memory: 300Mi
              limits:
                cpu: 2000m
                memory: 3000Mi
      worker:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: makeplane/plane-backend
              tag: latest
              pullPolicy: Always
            command:
              - ./bin/worker
            envFrom: *envFrom
            resources:
              requests:
                cpu: 300m
                memory: 500Mi
              limits:
                memory: 4000Mi
                cpu: 1000m
      beat-worker:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: makeplane/plane-backend
              tag: latest
              pullPolicy: Always
            command:
              - ./bin/beat
            envFrom: *envFrom
            resources:
              requests:
                cpu: 300m
                memory: 200Mi
              limits:
                memory: 4000Mi
                cpu: 1000m
    service:
      main:
        controller: main
        ports:
          http:
            port: 3000
      space:
        controller: space
        ports:
          http:
            port: 3000
      api:
        controller: api
        ports:
          http:
            port: 8000

    serviceAccount:
      create: true

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "plane.${SECRET_DOMAIN}"
            paths:
              - path: /
                name: main
                pathType: Prefix
                service:
                  name: main
                  port: http
              - path: /api
                name: api
                pathType: Prefix
                service:
                  name: api
                  port: http
              - path: /spaces
                name: space
                pathType: Prefix
                service:
                  name: space
                  port: http
        tls:
          - hosts:
              - *host
